html{
  font-size: 62.5%;
}

body{
  font-size: 16px;
}

.frame-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  
}

.frame-nav ul{
  display: flex;
  background-color: bisque;
  justify-content: space-around;  
  align-items: center;
  list-style: none;
  width: 100%;
  }

body section{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  width: 100%;
  background-color: peru;
}

